@{
    ViewData["Title"] = "Eko Biashara|Business Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<div class=" col-lg-12  col-sm-12 col-12 layout-spacing">

    <div class="widget widget-account-invoice-one">

        <div class="widget-heading">
            <h5 class="">Account Info</h5>
        </div>

        <div class="widget-content">
            <div class="invoice-box">

                <div class="acc-total-info">
                    <h5>Total Balance</h5>
                    <p class="acc-amount">Kshs 47,000</p>
                </div>

                <div class="inv-detail">
                    <div class="info-detail-1">
                        <p>Today's Earnings</p>
                        <p>Kshs 11,000</p>
                    </div>
                    <div class="info-detail-2">
                        <p>Taxes Paid</p>
                        <p>Kshs 170.82</p>
                    </div>
                    <div class="info-detail-3 info-sub">
                        <div class="info-detail">
                            <p>Discounts Given</p>
                            <p>Kshs 300</p>
                        </div>
                       
                    </div>
                </div>

                <div class="inv-action">
                   
                    <a href="" class="btn btn-success">View Account</a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-two">

        <div class="widget-heading">
            <h5 class="">Recent Orders</h5>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th><div class="th-content">Customer</div></th>
                            <th><div class="th-content">Product</div></th>
                            <th><div class="th-content">Invoice</div></th>
                            <th><div class="th-content th-heading">Price</div></th>
                            <th><div class="th-content">Status</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-two">

        <div class="widget-heading">
            <h5 class="">Top Selling Products</h5>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th><div class="th-content">Customer</div></th>
                            <th><div class="th-content">Product</div></th>
                            <th><div class="th-content">Invoice</div></th>
                            <th><div class="th-content th-heading">Price</div></th>
                            <th><div class="th-content">Status</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="td-content customer-name">Edwin Mong'are</div></td>
                            <td><div class="td-content product-brand">stationery</div></td>
                            <td><div class="td-content">#76894</div></td>
                            <td><div class="td-content pricing"><span class="">Kshs 881.00</span></div></td>
                            <td><div class="td-content"><span class="badge outline-badge-primary">Shipped</span></div></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@


   
  
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

        <div class="widget widget-chart-one">
            <div class="widget-heading">
                <h5 class="">Profit</h5>
                <ul class="tabs tab-pills">
                    <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                </ul>
            </div>

            <div class="widget-content">
                <div class="tabs tab-content">
                    <div id="content_1" class="tabcontent">
                        <div id="revenueMonthly"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>